<div class="examples">
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Locations</mat-label>
        <mat-select multiple>
          <mat-option value="1">New York - 031212</mat-option>
          <mat-option value="2">Kansas City - 234533</mat-option>
          <mat-option value="3">Baltimore - 121313</mat-option>
          <mat-option value="4">San Francisco - 239593</mat-option>
          <mat-option value="5">Oklahoma City - 409493</mat-option>
          <mat-option value="6">Chicago - 959329</mat-option>
          <mat-option value="7">Detroit - 499356</mat-option>
          <mat-option value="8">Salt Lake City - 965858</mat-option>
          <mat-option value="9">San Jose - 594864</mat-option>
          <mat-option value="10">Phoenix - 496443</mat-option>
          <mat-option value="11">Austin - 459533</mat-option>
          <mat-option value="12">Philadelphia - 696543</mat-option>
          <mat-option value="13">Indianapolis - 595693</mat-option>
          <mat-option value="14">Dallas - 679446</mat-option>
          <mat-option value="15">Los Angeles - 598885</mat-option>
          <mat-option value="16">Houston - 533221</mat-option>
          <mat-option value="17">San Antonio - 322959</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="checkbox-group">
        <small class="label">Locations</small>
        <mat-checkbox>New York - 031212</mat-checkbox>
        <mat-checkbox>Kansas City - 234533</mat-checkbox>
        <mat-checkbox>Baltimore - 121313</mat-checkbox>
        <mat-checkbox>San Francisco - 239593</mat-checkbox>
        <mat-checkbox>Oklahoma City - 409493</mat-checkbox>
        <mat-checkbox>Chicago - 959329</mat-checkbox>
        <mat-checkbox>Detroit - 499356</mat-checkbox>
        <mat-checkbox>Salt Lake City - 965858</mat-checkbox>
        <mat-checkbox>San Jose - 594864</mat-checkbox>
        <mat-checkbox>Phoenix - 496443</mat-checkbox>
        <mat-checkbox>Austin - 459533</mat-checkbox>
        <mat-checkbox>Philadelphia - 696543</mat-checkbox>
        <mat-checkbox>Indianapolis - 595693</mat-checkbox>
        <mat-checkbox>Dallas - 679446</mat-checkbox>
        <mat-checkbox>Los Angeles - 598885</mat-checkbox>
        <mat-checkbox>Houston - 533221</mat-checkbox>
        <mat-checkbox>San Antonio - 322959</mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>
</div>